<%= form_for(@session, :url => @session.id ? karate_session_path(@session) : karate_sessions_path) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :style_id %><br>
    <%= f.collection_select :style_id, Style.active, :id, :description %>
  </div>
  <div class="field">
    <%= f.label :day_of_week %><br>
    <%= select_tag("session[day_of_week]", options_for_select(Session.days_with_index, @session.day_of_week)) %>
  </div>
  <div class="field">
    <%= f.label :hour %><br>
    <%= f.number_field :hour %>
  </div>
  <div class="field">
    <%= f.label :minute %><br>
    <%= f.number_field :minute %>
  </div>
  <div class="field">
    <%= f.label :am %><br>
    <%= f.check_box :am %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
