<h1>Listing Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Day of week</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.style.description %> (<%= session.name %>)</td>
        <td><%= Session.day_for(session.day_of_week) %></td>
        <td><%= session.hour %>:<%= "%02d" % session.minute %> <%= session.am ? "AM" : "PM" %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
