<h2>Sessions</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Class</th>
      <th>Day of week</th>
      <th>Time</th>
      <th>Active</th>
      <% if is_admin? %>
      <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.style.description %> (<%= session.name %>)</td>
        <td><%= Session.day_for(session.day_of_week) %></td>
        <td><%= session.hour %>:<%= "%02d" % session.minute %> <%= session.am ? "AM" : "PM" %></td>
        <td><%= session.active ? 'Y' : 'N' %></td>
        <% if is_admin? %>
        <td><%= link_to 'Edit', edit_karate_session_path(session) %></td>
        <td><%= link_to 'Destroy', karate_session_path(session), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if is_admin? %>
<br>

<%= link_to 'New Session', new_karate_session_path %>
<% end %>