<p>
  <strong>Class:</strong>
  <%= @session.description %>
</p>

<p>
  <strong>Day of week:</strong>
  <%= Session.day_for(@session.day_of_week) %>
</p>

<p>
  <strong>Time:</strong>
  <%= @session.time %>
</p>

<% if is_admin? %>
<%= link_to 'Edit', edit_karate_session_path(@session) %> |
<% end %>
<%= link_to 'Back', karate_sessions_path %>
