<% if @search %>
<h3>Members Matching: <%= @search %></h3>
<% else %>
<h3>Active Members</h3>
<% end %>

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Birthdate</th>
        <th>Belt Size</th>
        <% if @search %>
        <th>Active</th>
        <% end %>
        <% if is_admin? %>
        <th class="no_print">Actions</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= link_to person.display_name, person_path(person) %></td>
          <td><%= person.birthdate ? person.birthdate.to_formatted_s(:us) : '' %></td>
          <td><%= person.display_belt_size %></td>
          <% if @search %>
          <td><%= person.active ? 'Y' : 'N' %></td>
          <% end %>
          <% if is_admin? %>
          <td class="no_print">
            <%= link_to award_for_person_path(person), :class => 'btn btn-sm btn-primary' do %>
              <i class="glyphicon glyphicon-education"></i> Promote
            <% end %>
            <%= link_to edit_person_path(person), :class => 'btn btn-sm btn-warning' do %>
              <i class="glyphicon glyphicon-pencil"></i> Edit
            <% end %>
            <%= link_to deactivate_person_path(person), method: :POST, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' do %>
              <i class="glyphicon glyphicon-pencil"></i> Deactivate
            <% end %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="no_print">
    <%= form_tag("/people/search", method: "get", :role => 'form', :class => "form-inline") do %>
      <div class="form-group">
        <label for="search_field">Name</label>
        <%= text_field_tag :search, params[:search], :id => 'search_field', :name => 'search_field' %>
      </div>
      <%= button_tag :type => 'submit', :class => 'btn btn-sm btn-success' do %> 
        <i class="glyphicon glyphicon-search"></i> Search
      <% end %>
    <% end %> 
  </div>
</div>
<% if is_admin? %>
  <div class="row">&nbsp;</div>
  <div class="row">
    <%= link_to new_person_path, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-plus"></i> New Person
    <% end %>
  </div>
<% end %>
