<p id="notice"><%= notice %></p>

<% if @search %>
<h1>Students Matching: <%= @search %></h1>
<% else %>
<h1>Active Students</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Forename</th>
      <th>Surname</th>
      <th>Birthdate</th>
      <th>Active</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.id %></td>
        <td><%= person.forename %></td>
        <td><%= person.surname %></td>
        <td><%= person.birthdate %></td>
        <td><%= person.active ? 'Y' : 'N' %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="no_print"><%= link_to 'New Person', new_person_path %></div>
<p>
<div class="no_print">
<%= form_tag("/people/search", method: "get") do %>
  <%= text_field_tag :search, params[:search], :id => 'search_field' %>
  <%= submit_tag "Search" %> 
<% end %> 
</div>