<div class="row">
  <h2><%= @person.display_name %></h2>

  <p>
    <strong>Birthdate:</strong> <%= @person.birthdate ? @person.birthdate.to_formatted_s(:us) : "N/A" %>,
    <strong>Currently Active:</strong> <%= @person.active ? 'Y' : 'N' %>,
    <strong>Total Classes:</strong> <%= @total_classes %>,
    <strong>Start Date: </strong> <%= @start_date.to_formatted_s(:us) %> (<%= distance_of_time_in_words(@start_date, @date) %>).
  </p>
</div>

<div class="row">
  <h3>Attendance Last Year (<%= @total_classes_this_year %> Classes)</h3>
  <canvas id="myChart" width="600" height="200"></canvas>
  <script>
  $.get("<%= attendance_person_path(@person, format: 'json') %>", function(data,status){
      myNewChart = new Chart($("#myChart").get(0).getContext("2d")).Bar(data)
    });
  </script>
</div>

<div class="row">
  <h3>Ranks Held</h3>

  <table class="table">
  <tr>
  <% @awards.each do |style_and_awards| %>
    <% style, award_list = style_and_awards %>
    <td valign="top" width="266">
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2"><%= style.description %></th>
          </tr>
        </thead>

        <tbody>
          <% award_list.each do |award| %>
            <tr>
              <td><%= award.date.to_formatted_s(:us) %></td>
              <td><%= award.rank.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </td>
  <% end %>
  </tr>
  </table>
</div>

<div class="row">
  <p>Effective date: <%= @date.to_formatted_s(:us) %>.</p>

  <div class='no_print'>
  <% if is_admin? %>
  <%= link_to 'Edit', edit_person_path(@person), :class => 'btn btn-warning' %>
  <%= link_to 'Promote', award_for_person_path(@person), :class => 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Back', people_path, :class => 'btn btn-success' %>
  </div>
</div>