<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @person.id %>
</p>

<p>
  <strong>Forename:</strong>
  <%= @person.forename %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @person.surname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @person.birthdate %>
</p>

<p>
  <strong>Active:</strong>
  <%= @person.active %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
