<h1>Attendance for <%= @date %></h1>

<%= form_tag "/classes/add" do %>
  <%= date_field_tag :date, @date, :hidden => true %>
  <table>
  <tr>
    <th>Name</th>
    <% @styles.each do |style| %>
    <th><%= style.description %></th>
    <% end %>
  </tr>
  <% @people.each do |person| %>
    <%= render partial: "row", locals: {person: person, styles: @styles, date: @date, saved: @attendance[person.id] || {}} %>
  <% end %>
  </table>
  <%= submit_tag "Submit" %>
<% end %>