<%= form_for(@rank) do |f| %>
  <% if @rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rank.errors.count, "error") %> prohibited this rank from being saved:</h2>

      <ul>
      <% @rank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :style_id %><br>
    <%= f.collection_select :style_id, Style.all, :id, :description %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :translation %><br>
    <%= f.text_field :translation %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.text_field :order %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :class_delta %><br>
    <%= f.text_field :class_delta %>
  </div>
  <div class="field">
    <%= f.label :next_rank_test_id %><br>
    <%= f.collection_select :next_rank_test_id, Test.all, :id, :description %>
  </div>
  <div class="field">
    <%= f.label :belt_color_id %><br>
    <%= f.collection_select :belt_color_id, Color.all, :id, :description %>
  </div>
  <div class="field">
    <%= f.label :stripe_color_id %><br>
    <%= f.collection_select :stripe_color_id, Color.all, :id, :description %>
  </div>
  <div class="field">
    <%= f.label :stripe_count %><br>
    <%= f.text_field :stripe_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
