<h2>Ranks</h2>

<% @ranks_by_style.each do |style_and_ranks|%>
<% style, ranks = style_and_ranks %>
<% if ranks and ranks.length>0 %>
<h3><%= style.description %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Translation</th>
      <th>Order</th>
      <th>Active</th>
      <th>Class delta</th>
      <th>Next rank test</th>
      <th>Belt color</th>
      <th>Stripe color</th>
      <th>Stripe count</th>
      <% if is_admin? %>
      <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% ranks.each do |rank| %>
      <tr>
        <td><%= rank.name %></td>
        <td><%= rank.translation %></td>
        <td><%= rank.order %></td>
        <td><%= rank.active ? 'Y' : 'N' %></td>
        <td><%= rank.class_delta %></td>
        <td><%= rank.next_rank_test.description %></td>
        <td><%= rank.belt_color.description %></td>
        <td><%= rank.stripe_color.description %></td>
        <td><%= rank.stripe_count %></td>
        <% if is_admin? %>
        <td><%= link_to 'Edit', edit_rank_path(rank) %></td>
        <td><%= link_to 'Destroy', rank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
<% end %>

<% if is_admin? %>
<br>

<%= link_to 'New Rank', new_rank_path %>
<% end %>
