<% if @award.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@award.errors.count, "error") %> prohibited this award from being saved:</h2>

    <ul>
    <% @award.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
<% @current_ranks.each do |high_rank| %>
  <div class="col-sm-3">
  <%= form_for(@award, :html => {role: 'form'}) do |f| %>
    <%= hidden_field_tag "award[person_id]", @person.id %>
    <div class="form-group">
      <label for="award_rank_id"><%= high_rank.rank.style.description %></label>
      <%= f.collection_select :rank_id, Rank.where("active = true AND style_id = :style_id AND ranks.order > :current_rank_order", style_id: high_rank.rank.style_id, current_rank_order: high_rank.rank.order).order(:style_id,:order), :id, :name, {}, {class: 'form-control'} %>
    </div>
    <div class="form-group">
      <label for="award_date">Effective Date</label>
      <%= f.text_field :date, {:value => @award.date || Date.today.strftime('%m/%d/%Y'), :class => 'form-control datepicker'} %>
    </div>
    <%= f.submit 'Promote', :class => 'btn btn-warning' %>
  <% end %>
  </div>
<% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      autoclose: true,
      todayHighlight: true,
    });
  });
</script>
