<h1>Listing Awards</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Person</th>
      <th>Style</th>
      <th>Rank</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @awards.each do |award| %>
      <tr>
        <td><%= award.date %></td>
        <td><%= award.person.forename %> <%= award.person.surname %></td>
        <td><%= award.rank.style.description %></td>
        <td><%= award.rank.name %></td>
        <td><%= link_to 'Edit', edit_award_path(award) %></td>
        <td><%= link_to 'Destroy', award, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Award', new_award_path %>
