<table border="1" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>Date</th>
      <th>Classes</th>
      <th>Required</th>
      <th>Test</th>
      <th>Next Rank</th>
    </tr>
  </thead>

  <tbody>
    <% promotable.each do |person| %>
      <% last_promotion = person.last_promotion(style) %>
      <% rank = last_promotion ? last_promotion.rank : style.ranks.first %>
      <tr class="<%= 'highlight' if rank.next_rank_test.description=='Informal' %>">
        <td><%= person.display_name %></td>
        <td><%= rank.name %></td>
        <td><%= last_promotion ? last_promotion.date : "None" %></td>
        <td><%= person.classes_since_last_promotion(style) %></td>
        <td><%= rank.class_delta %></td>
        <td><%= rank.next_rank_test.description %></td>
        <td><%= rank.next_rank ? rank.next_rank.name : "TBD" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
