<h3 class="no_print">Attendance History as of <%= @date.to_formatted_s(:us) %></h3>

<table class="table table-striped">
  <thead>
    <tr class="print_only">
      <th colspan="4">Attendance History as of <%= @date.to_formatted_s(:us) %></th>
    </tr>
    <tr>
      <th>Name</th>
      <th class="text-center">6 months</th>
      <th class="text-center">3 months</th>
      <th class="text-center">1 month</th>
      <% if is_admin? %>
      <th class="text-center no_print">Action</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @attendance.each do |person_and_attendance| %>
      <% person, classes = person_and_attendance %>
      <tr class="<%= "warning" if classes[1]==0 %>">
        <td>
          <%= link_to person.display_name, person %>
        </td>
        <td class="text-center"><%= classes[0] %></td>
        <td class="text-center"><%= classes[1] %></td>
        <td class="text-center">
          <%= classes[2] %>
        </td>
        <% if is_admin? %>
        <td class="text-center no_print">
        <% if classes[1]==0 %>
            <%= link_to deactivate_person_path(person), method: :POST, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-warning' do %>
              <i class="glyphicon glyphicon-pencil"></i> Deactivate
            <% end %>
        <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="no_print">
  <%= link_to reports_attendance_path(format: :csv), :class => 'btn btn-sm btn-primary' do %>
    <i class="glyphicon glyphicon-download-alt"></i> Download as CSV
  <% end %>
</p>


