<h2>Promotions Due as of <%= @date.to_formatted_s(:us) %></h2>

<h3>Eligible for New Stripe</h3>

<% @promotable_now_by_style.each do |style_and_promotable|%>
  <% style, promotable = style_and_promotable %>
  <% if promotable and promotable.length>0 %>
<!--     <h4><%= style.description %></h4> -->
    <%= render partial: "students", locals: {promotable: promotable, style: style} %>
  <% end %>
<% end %>

<h3>Eligible for New Belt After Assessment</h3>

<% @promotable_after_assess_by_style.each do |style_and_promotable|%>
  <% style, promotable = style_and_promotable %>
  <% if promotable and promotable.length>0 %>
<!--     <h4><%= style.description %></h4> -->
    <%= render partial: "students", locals: {promotable: promotable, style: style} %>
  <% end %>
<% end %>
