<h3>Recent Promotions</h3>

<table class="table-condensed table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Rank</th>
      <th>Prev Rank</th>
      <th>Style</th>
      <th>Cert</th>
      <th>Belt</th>
    </tr>
  </thead>

  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= promotion[:date] %></td>
        <td><%= promotion[:person].display_name %></td>
        <td><%= promotion[:rank].name %></td>
        <td><%= promotion[:prev_rank] ? promotion[:prev_rank].name : "" %></td>
        <td><%= promotion[:rank].style.description %></td>
        <td><%= promotion[:cert] ? 'Y' : 'N' %></td>
        <td><%= promotion[:belt] ? 'Y' : 'N' %></td>
      </tr>
    <% end %>
  </tbody>
</table>