<!DOCTYPE html>
<html>
<head>
  <title>Souhegan Valley Karate Club</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
  $( document ).ready(
    function () {
      /* Handle hovering effect and submenu appearing */
      $('.nav li').hover(
        function () { //appearing on hover
          $('ul', this).fadeIn();
        },
        function () { //disappearing on hover
          $('ul', this).fadeOut();
        }
      );
    }
  );
  </script>

  <div class="navigation">
    <ul class="nav">
      <li>
        <a href="#">Administration</a>
        <ul>
          <li><a href="<%= attendances_path %>">Attendance</a></li>
          <li><a href="<%= people_path %>">Students</a></li>
          <li><a href="<%= awards_path %>">Awards</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Reports</a>
        <ul>
          <li><a href="<%= reports_promotions_due_path %>">Promotion Eligibility</a></li>
          <li><a href="<%= reports_tests_due_path %>">Test Eligibility</a></li>
          <li><a href="<%= reports_recent_promotions_path %>">Recent Promotions</a></li>
          <li><a href="<%= reports_attendance_path %>">Attendance</a></li>
          <li><a href="<%= reports_active_students_path %>">Active Students</a></li>
          <li><a href="<%= reports_promotions_by_date_form_path %>">Promotions by Month</a></li>
          <li><a href="<%= reports_dues_by_date_form_path %>">Dues by Month</a></li>
          <li><a href="<%= reports_service_length_path %>">Length of Service</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Configuration</a>
        <ul>
          <li><a href="<%= karate_sessions_path %>">Sessions</a>
          <li><a href="<%= ranks_path %>">Ranks</a></li>
          <li><a href="<%= styles_path %>">Styles</a></li>
          <li><a href="<%= colors_path %>">Colors</a></li>
          <li><a href="<%= tests_path %>">Tests</a></li>
        </ul>
      </li>
      <li>
      <% if user_signed_in? %>
        <a href="#"><%= current_user.email %></a>
        <ul>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      <% else %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
      </li>
    </ul>
  </div>
  
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>     
  
<%= yield %>

</body>
</html>
